/* /Pages/Grades.razor.rz.scp.css */
body[b-7epf0voo6x] {
}
/* /Pages/GradesAdd.razor.rz.scp.css */
body[b-jkhp3dm5lg] {
}
/* /Pages/GradesViewStudent.razor.rz.scp.css */
body[b-o41pu48imo] {
}
/* /Pages/StudentCard.razor.rz.scp.css */
body[b-18mt65t4ww] {
}

img[b-18mt65t4ww] {
    height: 100px;
    width: 100px;
}

.container[b-18mt65t4ww], .info[b-18mt65t4ww] {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    white-space: nowrap;
}

.container[b-18mt65t4ww] {
    box-shadow: -9px 7px 29px -1px rgba(66, 68, 90, 1);
}

.name[b-18mt65t4ww]{
    display:flex;
    flex-direction:row;
}

h1[b-18mt65t4ww]{
    padding:5%;
}
/* /Pages/StudentCardForParent.razor.rz.scp.css */
body[b-kw3v15n7pm] {
}

img[b-kw3v15n7pm] {
    height: 100px;
    width: 100px;
}

.container[b-kw3v15n7pm], .info[b-kw3v15n7pm] {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    white-space: nowrap;
    margin:2%;
}

.container[b-kw3v15n7pm] {
    box-shadow: -9px 7px 29px -1px rgba(66, 68, 90, 1);
}

.name[b-kw3v15n7pm] {
    display: flex;
    flex-direction: row;
}

h1[b-kw3v15n7pm] {
    padding: 5%;
}
/* /Pages/StudentsGrades.razor.rz.scp.css */
.all[b-bf87gw08az]{
    align-items:flex-start;
    margin:0px;
    flex-direction:row;
}

.comms[b-bf87gw08az] {
    display: none;
}

.gradeInfo[b-bf87gw08az] {

    display: inline-block;
    border: solid 3px green;
    border-radius: 15px;
    margin: 20px;
    padding: 5px;
    background-color: #CFFFCF;
}

    .gradeInfo:hover[b-bf87gw08az]{
        box-shadow: -2px 3px 8px -1px rgba(66, 68, 90, 1);
    }

    .gradeInfo:hover .comms[b-bf87gw08az]{
        display: block;
    }

.container[b-bf87gw08az] {
    background-color: #FFFFFF;
    margin: 5%;
    margin-left: 0px;
    width: 90%;
    box-shadow: -9px 7px 29px -1px rgba(66, 68, 90, 1);
    border-radius:1rem;
}

h7[b-bf87gw08az], h3[b-bf87gw08az]{
    font-weight:bold;
    font-size:smaller;
}
/* /Pages/TeacherClasses.razor.rz.scp.css */
.students[b-n340c82kpz]{
    display:block;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-08mlx414po] {
    position: relative;
    display: flex;
    flex-direction:column;
}

main[b-08mlx414po] {
    flex: 1;
    background-color:white;
    min-height:100%;
}

.navbar[b-08mlx414po] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    display: flex;
    align-items: flex-start;
    padding: 0px;
    flex-direction: column;
}

.top-row[b-08mlx414po] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-08mlx414po]  a, .top-row[b-08mlx414po]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-08mlx414po]  a:hover, .top-row[b-08mlx414po]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-08mlx414po]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row.auth[b-08mlx414po] {
        justify-content: space-between;
    }

    .top-row[b-08mlx414po]  a, .top-row[b-08mlx414po]  .btn-link {
        margin-left: 0;
    }

    .navbar[b-08mlx414po]{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
    }
}

@media (min-width: 641px) {

    .page[b-08mlx414po] {
        flex-direction: column;
    }

    .top-row[b-08mlx414po] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-08mlx414po]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-08mlx414po], article[b-08mlx414po] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

@media (max-width: 1365px) and (min-width: 850px ) {
    .page[b-08mlx414po] {
        flex-direction: row;
    }

    .navbar[b-08mlx414po] {
        display: flex;
        align-content: flex-start;
        padding: 0px;
        width: 250px;
        height: 100vh;
        position: sticky;
        flex-direction: row;
        top: 0;
    }

    main[b-08mlx414po] {
        flex: 1;
    }
}
