.navbar-toggler[b-fb9r1d6ewe] {
    background-color: rgba(255, 255, 255, 0.1);
}

div[b-fb9r1d6ewe]{
    white-space:nowrap;
}

.navbar[b-fb9r1d6ewe] {
    align-items: flex-start;
    margin-bottom:1rem;
    width:100%;
}

.top-row[b-fb9r1d6ewe] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fb9r1d6ewe] {
    font-size: 1.1rem;
}

.oi[b-fb9r1d6ewe] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.container[b-fb9r1d6ewe] {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 0px;
    padding-left: 0px;
}

.nav-item[b-fb9r1d6ewe] {
    display: flex;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    white-space: nowrap;
}

    .nav-item:first-of-type[b-fb9r1d6ewe] {
        padding-left: 0px;
    }

    .nav-item[b-fb9r1d6ewe]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fb9r1d6ewe]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fb9r1d6ewe]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fb9r1d6ewe] {
        display: none;
    }

    .collapse[b-fb9r1d6ewe] {
        /* Never collapse the sidebar for wide screens */
        display: flex;
        flex-direction:row;
    }
}


@media (max-width: 1365px) {
    .container[b-fb9r1d6ewe] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-toggler[b-fb9r1d6ewe] {
        display: none;
    }

    .collapse[b-fb9r1d6ewe] {
        /* Never collapse the sidebar for wide screens */
        display: flex;
        flex-direction: column;
    }

    .nav-item:first-of-type[b-fb9r1d6ewe] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fb9r1d6ewe] {
        padding-bottom: 1rem;
    }
}

@media (max-width: 400px) {
    .container[b-fb9r1d6ewe] {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        align-items: flex-start;
        margin-left: 0px;
        padding-left: 0px;
    }

    .nav-item:first-of-type[b-fb9r1d6ewe] {
        padding-top: 0rem;
    }

    .nav-item:last-of-type[b-fb9r1d6ewe] {
        padding-bottom: 0rem;
    }

    .navbar-toggler[b-fb9r1d6ewe] {
        display: none;
    }

    .collapse[b-fb9r1d6ewe] {
        /* Never collapse the sidebar for wide screens */
        display: flex;
        flex-direction: column;
    }
}


