body[b-kw3v15n7pm] {
}

img[b-kw3v15n7pm] {
    height: 100px;
    width: 100px;
}

.container[b-kw3v15n7pm], .info[b-kw3v15n7pm] {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    white-space: nowrap;
    margin:2%;
}

.container[b-kw3v15n7pm] {
    box-shadow: -9px 7px 29px -1px rgba(66, 68, 90, 1);
}

.name[b-kw3v15n7pm] {
    display: flex;
    flex-direction: row;
}

h1[b-kw3v15n7pm] {
    padding: 5%;
}
