@page "/addstuff"
<div class="subwebsitebody">
   <div class="addbuttons">

    <div class="sidebar-buttoncontainer">
        <div class="header-element">
            <i class="gg-add"></i>
        </div>
        <NavLink class="main-menutextcomponet" href="students" Match="NavLinkMatch.All">
            <span class="oi oi-people" aria-hidden="true"></span> Add Students
        </NavLink>
    </div>

    <div class="sidebar-buttoncontainer">
        <div class="header-element">
            <i class="gg-add"></i>
        </div>
        <NavLink class="main-menutextcomponet" href="parents" Match="NavLinkMatch.All">
            <span class="oi oi-people" aria-hidden="true"></span> Add Parents
        </NavLink>
    </div>

    <div class="sidebar-buttoncontainer">
        <div class="header-element">
            <i class="gg-add"></i>
        </div>
        <NavLink class="main-menutextcomponet" href="teachers" Match="NavLinkMatch.All">
            <span class="oi oi-people" aria-hidden="true"></span> Add Teachers
        </NavLink>
    </div>

    <div class="sidebar-buttoncontainer">
        <div class="header-element">
            <i class="gg-add"></i>
        </div>
        <NavLink class="main-menutextcomponet" href="classes" Match="NavLinkMatch.All">
            <span class="oi oi-people" aria-hidden="true"></span> Add Classes
        </NavLink>
    </div>

    <div class="sidebar-buttoncontainer">
        <div class="header-element">
            <i class="gg-add"></i>
        </div>
        <NavLink class="main-menutextcomponet" href="subjects" Match="NavLinkMatch.All">
            <span class="oi oi-people" aria-hidden="true"></span> Add Subjects
        </NavLink>
    </div>

    <div class="sidebar-buttoncontainer">
        <div class="header-element">
            <i class="gg-add"></i>
        </div>
        <NavLink class="main-menutextcomponet" href="enrollments" Match="NavLinkMatch.All">
            <span class="oi oi-people" aria-hidden="true"></span> Add Enrollments
        </NavLink>
    </div>

   </div>
</div>

@code {

}
