<<<<<<<< HEAD:GradeSystem.v1/Client/Pages/BookAdd.razor
﻿@page "/Book"
@page "/Books/{QR:int}"
@*Było Book*@
@using Microsoft.AspNetCore.Http;
========
﻿<h3>BookAddEdit</h3>
@page "/BookEdit"
@*Było Book*@
@page "/Book/{QR:int}"
>>>>>>>> origin/Naprawa:GradeSystem.v1/Client/Pages/BookAddEdit.razor
@inject IBookService BookService
@inject NavigationManager NavigationManager

@if (QR == null)
{
    <PageTitle>Add new Book</PageTitle>
    <h3>Add new Book</h3>
}
else
{
    <PageTitle>Edit @book.QRCode </PageTitle>
    <h3>Edit @book.QRCode </h3>

}


<EditForm Model="book" OnSubmit="HandleSubmit">
    <div>
        <label for="Title">Title</label>
        <InputText id="Title" @bind-Value="book.BookType.Title" class="form-control"></InputText>
    </div>
    <div>
        <label for="Author">Author</label>
        <InputText id="Author" @bind-Value="book.BookType.Author" class="form-control"></InputText>
    </div>


    <br />
    <button type="submit" class="btn btn-primary">@btnText</button>
    <button type="button" class="btn btn-danger" @onclick="DelateBook">Delete Book</button>

</EditForm>


@code {
    [Parameter]
    public int? QR { get; set; }

    Book book = new Book();
    string btnText = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        btnText = QR == null ? "Save New Book" : "Update Book";
        await BookService.GetBooks();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (QR == null)
        {

        }
        else
        {
            book = await BookService.GetBookByQR((int)QR);
        }
    }
    async Task HandleSubmit()
    {
        if (QR == null)
        {
            book.IsBoocked = false;
            book.IsBoocked = false;
            await BookService.CreateBook(book);

        }
        else
        {
            await BookService.UpdateBook(book);
        }
        NavigationManager.NavigateTo("/Library");
    }
    async Task DelateBook()
    {

        await BookService.DeleteBook(book.QRCode);
        NavigationManager.NavigateTo("/Library");
    }
}
