.wNames{
    background-color: gray;
    margin: 0px;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    width:90%;

}

.dName {
    background-color: white;
    border: 1px gray solid;
    min-width: auto;
    text-align: center;
    min-width: 100px;
}

.enrollment{
    background-color:lightgray;
    margin:3%;
}