@page "/classes"
@inject IClassService ClassService
@inject NavigationManager NavigationMenager

<PageTitle> Classes </PageTitle>

<table class="Classes-table">
    <thead>
        
        <tr>
            <th>Class</th>
            <th>Teacher </th>            
            <th> </th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var classs in ClassService.Classes)
        {
            <tr class=" classes_row">
                <td>@classs.ClassName</td>
                <td>@classs.Teacher.FirstName @classs.Teacher.LastName</td>               
                <td>
                    <button class="btnshowclass" @onclick="(()=>ShowClass(classs.ClassID))"><i class="oi oi-pencil">Show Class</i></button>
                </td>
            </tr>
            
        }
        <tr class="blank_row">
            <td colspan="3"></td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>

</table>
<button type="button" class="btn btn-primary" @onclick="CreateClass">Create New</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ClassService.GetClasses();
    }
    void ShowClass(int id)
    {
        NavigationMenager.NavigateTo($"classs/{id}");
    }
    void CreateClass()
    {
        NavigationMenager.NavigateTo("/classs");
    }
}
