@page "/studentmainpageexams"
@inject IStudentService StudentService
@inject ISubjectService SubjectService

<div class="EXtable">

    <div class="EXtableheader">
        <div class="EXtitle">Incoming Exams</div>
    </div>

    <div class="EXdisplay">
        <div class="EXsubdisplay">

            <div class="EXdate"></div>

            <div class="EXexam">
                <div class="EXlesson"></div>
                <div class="EXsubject"></div>
            </div>

        </div>
    </div>
</div>


@code {

}
