@page "/students"
@inject IStudentService StudentService

<PageTitle> Students </PageTitle>

<h3>Students</h3>

<table>
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Login</th>
            <th>Pasword</th>
            <th>Parent</th>
            <th>Class</th>
            <th>Grades</th>
            <th>Attendances</th>
        </tr>
    </thead>
</table>

@code {

}
