.all {
    align-items: flex-start;
    margin: 0px;
    flex-direction: row;
}

.comms {
    display: none;
}

.gradeInfo {
    display: inline-block;
    border: solid 3px green;
    border-radius: 15px;
    margin: 20px;
    padding: 5px;
    background-color: #CFFFCF;
}

h2 {
    display:flex;
    padding: 8%;
    flex-direction:column;
    background-color: #FFFFFF;
    margin: 0%;
    margin-left: 0px;
    width:fit-content;
    border-radius: 1rem;
}

    .container:hover .students {
        display: block;
        display: flex;
        padding: 8%;
        flex-direction: column;
        background-color: #FFFFFF;
        margin: 0%;
        margin-left: 0px;
        width: fit-content;
        border-radius: 1rem;
        border-top-left-radius: 0px;

    }

.container:hover h2 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.container {
    display: flex;
    padding: 1%;
    flex-direction: column;
    margin: 0%;
    margin-left: 0px;
    width: min-content;
    white-space: nowrap;
}

h3 {
    position: relative;
    width: 10rem;
}
h7, h3 {
    font-weight: bold;
    font-size: larger;
}

.students{
    display:none;
}

.studentsVisible{
    display:block;
}
