@page "/Test1"
@using Microsoft.AspNetCore.Http;
@using System.Net.Http.Headers;
@inject IBookService BookService
@inject IFileService FileService 
@inject NavigationManager NavigationManager


<h3>BookAddEdit</h3>

<InputFile OnChange="@HandleSelected" multiple />
@if (ImgUrl != null)
{
    <div>
        <img src="@ImgUrl" style="width:300px" />
    </div>
}
@code {
    public string ImgUrl { get; set; }
    public EventCallback<string> OnChange { get; set; }    
     private async Task HandleSelected(InputFileChangeEventArgs e)
    {
        var imageFiles = e.GetMultipleFiles();
        foreach (var imageFile in imageFiles)
        {
            if (imageFile != null)
            {
                var resizedFile = await imageFile.RequestImageFileAsync("image/png", 300, 500);

                using (var ms = resizedFile.OpenReadStream(resizedFile.Size))
                {
                    var content = new MultipartFormDataContent();
                    content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
                    content.Add(new StreamContent(ms, Convert.ToInt32(resizedFile.Size)), "image", imageFile.Name);
                    ImgUrl = await FileService.UploadProductImage(content);
                    await OnChange.InvokeAsync(ImgUrl);
                }
            }
        }
    }

}