@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvicder
@inject NavigationManager navMenager

<div class="mainpage">

    <main>
        <div>
            <div class="sidebar-left">
                <Sidebar2 />
            </div>

            <div class="main-content">
                <div>
                    <div class="header-menu">
                        <div class="userwelcome">
                            <div class="welcomedate">@Today.DayOfWeek , @Today.ToString("dd.MM.yyyy") </div>
                            <AuthorizeView>
                                <Authorized>
                                    <div class="hellouser">Hi, @context.User.Identity.Name!</div>
                                </Authorized>
                                <NotAuthorized>
                                    <div class="hellouser">Hi, Guest!</div>
                                </NotAuthorized>
                            </AuthorizeView>
                        </div>
                        <div class="header-element-top">
                            <i class="gg-search"></i>
                        </div>
                        <div class="header-element-top">
                            <i class="gg-bell"></i>
                        </div>
                        <div class="header-element-top">
                            <i class="gg-mail"></i>
                        </div>
                        <div class="header-element">
                            <AuthorizeView>
                                <Authorized>
                                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                                </Authorized>
                                <NotAuthorized>
                                    <button @onclick="GoToRandomLoginPage">Login</button>
                                </NotAuthorized>
                            </AuthorizeView>
                        </div>
                    </div>
                    <div class="mainlayout-border">
                        <div class="websidebody">                           
                                @Body
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

   
</div>
<RadzenDialog />

@code
{
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvicder;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navMenager.NavigateTo("/", true);
    }


    [Inject] private NavigationManager NavigationManager { get; set; }

    private async void GoToRandomLoginPage()
    {
        var random = new Random();
        int pageToOpen = random.Next(1, 3);  

        if (pageToOpen == 1)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            NavigationManager.NavigateTo("/login1");
        }

    }

    DateTime Today = DateTime.Now;
    DateTime UpToDateMonday;
    
}


