@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvicder
@inject NavigationManager navMenager


<div class="page">

    <main>
        <div>
            <div class="sidebar-left">
        <Sidebar />
        </div>

            <div class="main-content">
            <div>
        <div class="top-roww px-4">

            
                        <div class="icon-container">
                            <i class="fas fa-envelope"></i>
                        </div>
            <AuthorizeView>
                <Authorized>
                                
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Login</a>                             
                </NotAuthorized>
            </AuthorizeView>


        </div>
            
        <article class="content px-4">
            @Body
        </article>
        </div>
        </div>
        </div>
    </main>
    
</div>


@code
{
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvicder;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navMenager.NavigateTo("/", true);
    }
}