.wNames[b-9u0dynwnfl]{
    background-color: gray;
    margin: 0px;
}

table[b-9u0dynwnfl] {
    border-collapse: separate;
    border-spacing: 2px;
    width:90%;

}

.dName[b-9u0dynwnfl] {
    background-color: white;
    border: 1px gray solid;
    min-width: auto;
    text-align: center;
    min-width: 100px;
}

.enrollment[b-9u0dynwnfl]{
    background-color:lightgray;
    margin:3%;
}