.all[b-lavw9lm5pe]{
    align-items:flex-start;
    margin:0px;
    flex-direction:row;
}

.comms[b-lavw9lm5pe] {
    display: none;
}

.gradeInfo[b-lavw9lm5pe] {

    display: inline-block;
    border: solid 3px green;
    border-radius: 15px;
    margin: 20px;
    padding: 5px;
    background-color: #CFFFCF;
}

    .gradeInfo:hover[b-lavw9lm5pe]{
        box-shadow: -2px 3px 8px -1px rgba(66, 68, 90, 1);
    }

    .gradeInfo:hover .comms[b-lavw9lm5pe]{
        display: block;
    }

.container[b-lavw9lm5pe] {
    background-color: #FFFFFF;
    margin: 5%;
    margin-left: 0px;
    width: 90%;
    box-shadow: -9px 7px 29px -1px rgba(66, 68, 90, 1);
    border-radius:1rem;
}

h7[b-lavw9lm5pe], h3[b-lavw9lm5pe]{
    font-weight:bold;
    font-size:smaller;
}