.all[b-n340c82kpz] {
    align-items: flex-start;
    margin: 0px;
    flex-direction: row;
}

.comms[b-n340c82kpz] {
    display: none;
}

.gradeInfo[b-n340c82kpz] {
    display: inline-block;
    border: solid 3px green;
    border-radius: 15px;
    margin: 20px;
    padding: 5px;
    background-color: #CFFFCF;
}

h2[b-n340c82kpz] {
    display:flex;
    padding: 8%;
    flex-direction:column;
    background-color: #FFFFFF;
    margin: 0%;
    margin-left: 0px;
    width:fit-content;
    border-radius: 1rem;
}

    .container:hover .students[b-n340c82kpz] {
        display: block;
        display: flex;
        padding: 8%;
        flex-direction: column;
        background-color: #FFFFFF;
        margin: 0%;
        margin-left: 0px;
        width: fit-content;
        border-radius: 1rem;
        border-top-left-radius: 0px;

    }

.container:hover h2[b-n340c82kpz] {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.container[b-n340c82kpz] {
    display: flex;
    padding: 1%;
    flex-direction: column;
    margin: 0%;
    margin-left: 0px;
    width: min-content;
    white-space: nowrap;
}

h3[b-n340c82kpz] {
    position: relative;
    width: 10rem;
}
h7[b-n340c82kpz], h3[b-n340c82kpz] {
    font-weight: bold;
    font-size: larger;
}

.students[b-n340c82kpz]{
    display:none;
}

.studentsVisible[b-n340c82kpz]{
    display:block;
}
